RewriteEngine On
Options -Indexes

# Rewrite www-prefix URIs
# Also shortcut and alias domains
RewriteCond %{HTTP_HOST}   www\.posbl\.org [OR]
RewriteCond %{HTTP_HOST}   posbl\.org [OR]
RewriteCond %{HTTP_HOST}   www\.possibilistic\.com [OR]
RewriteCond %{HTTP_HOST}   www\.possibilistic\.org [OR]
RewriteCond %{HTTP_HOST}   possibilistic\.com
RewriteRule ^(.*)$         http://possibilistic.org/$1 [L,R=301]

# Redirect Moved Resources
RewriteRule ^flylab/?$		/misc/flylab/ [L,R=301]
RewriteRule ^ipcam/?$		/misc/ipcam/ [L,R=301]

# Research Papers
# TODO: Remove? What was this for?
RewriteCond %{REQUEST_FILENAME}		!-f
RewriteCond %{REQUEST_FILENAME}\.html	-f
RewriteRule ^research(.*)?$		/research$1.html [L]

