
body {
	background-color: #111;
	/*overflow: hidden;*/
	margin: 0;
	padding: 0px;

/* IE10 Consumer Preview */ 
background-image: -ms-radial-gradient(center, ellipse farthest-corner, #444444 0%, #000000 100%);

/* Mozilla Firefox */ 
background-image: -moz-radial-gradient(center, ellipse farthest-corner, #444444 0%, #000000 100%);

/* Opera */ 
background-image: -o-radial-gradient(center, ellipse farthest-corner, #444444 0%, #000000 100%);

/* Webkit (Safari/Chrome 10) */ 
background-image: -webkit-gradient(radial, center center, 0, center center, 448, color-stop(0, #444444), color-stop(1, #000000));

/* Webkit (Chrome 11+) */ 
background-image: -webkit-radial-gradient(center, ellipse farthest-corner, #444444 0%, #000000 100%);

/* W3C Markup, IE10 Release Preview */ 
background-image: radial-gradient(ellipse farthest-corner at center, #444444 0%, #000000 100%);

}

input {
	background-color: #111;
	border: none;
	outline-width: 0;
	color: #111;
}

#canvas {
	width: 800px;
	height: 600px;
}
