
body {
	background-color: #111;
	/*overflow: hidden;*/
	margin: 0px;
	padding: 0px;

	/* TODO: Flawed -- depends on body size. */
	background-image: -ms-radial-gradient(center, 
		ellipse farthest-corner, #444444 0%, #000000 100%);
	background-image: -moz-radial-gradient(center, 
		ellipse farthest-corner, #444444 0%, #000000 100%);
	background-image: -o-radial-gradient(center, 
		ellipse farthest-corner, #444444 0%, #000000 100%);
	background-image: -webkit-gradient(radial, center center, 0, 
		center center, 448, color-stop(0, #444444), color-stop(1, #000000));
	background-image: -webkit-radial-gradient(center, 
		ellipse farthest-corner, #444444 0%, #000000 100%);
	background-image: radial-gradient(ellipse farthest-corner 
		at center, #444444 0%, #000000 100%);
}

a {
	color: #990000;
	text-decoration: none;
	font-weight: none;
}

#canvas {
	width: 800px;
	height: 600px;
}
