@font-face {
	font-family: "neuropol_x";
	src: url('./font/neuropol_x.ttf');
}
@font-face {
	font-family: "Quantum Round";
	src: url('./font/quantrnd.ttf');
}
@font-face {
	font-family: "Ubuntu";
	src: url('./font/Ubuntu-R.ttf');
}
@font-face {
	font-family: "Ubuntu Light";
	src: url('./font/Ubuntu-L.ttf');
}

body {
	background-color: #111;
	color: #eee;
	background-image: -ms-radial-gradient(center, 
		ellipse farthest-corner, #444444 0%, #000000 100%);
	background-image: -moz-radial-gradient(center, 
		ellipse farthest-corner, #444444 0%, #000000 100%);
	background-image: -o-radial-gradient(center, 
		ellipse farthest-corner, #444444 0%, #000000 100%);
	background-image: -webkit-gradient(radial, center center, 0, 
		center center, 448, color-stop(0, #444444), color-stop(1, #000000));
	background-image: -webkit-radial-gradient(center, 
		ellipse farthest-corner, #444444 0%, #000000 100%);
	background-image: radial-gradient(ellipse farthest-corner 
		at center, #444444 0%, #000000 100%);
}

a {
	color: #ee1021;
	text-decoration: underline;
}

#content {
	color: #eee;
	background-color: rgba(0, 0, 0, 0.95);
	-webkit-border-radius: 25px;
	-moz-border-radius: 25px;
	border-radius: 25px;
	box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.55);
	font-family: "Ubuntu", arial;
	text-align: justify;
}

#logo {
	font-family: "Quantum Round", arial;
	color: rgba(0,0,0,0); 
	font-size: 4em;
	text-shadow: 
		0px 0px 1px #fff,
		9px 9px 11px #000
}

#logo a {
	color: inherit;
	text-decoration: none;
}

h1, h2, h3, h4, h5 {
	font-family: "Ubuntu Light", "Andale mono", arial;
	padding: 10px 0px 10px 0px;
	margin: 0px;
}

#text h1, #text h2, #text h3 {
	padding-left: 20px;
	text-align: left;
}

h1 { font-size: 4em; }
h2 { font-size: 3em; }
h3 { font-size: 2em; }

#name {
	font-family: "neuropol_x", arial;
	color: rgba(0,0,0,0); 
	font-size: 2.0em;
	text-shadow: 
		0px 0px 1px #e5e5e5,
		3px 3px 7px #000
}

#portrait {
	float: right;
	margin: 15px;
}
#portrait img {
	border-radius: 18px;
	-webkit-border-radius: 18px;
	-moz-border-radius: 18px;
}
